<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mapper.mapper2.DeptMapper">
    <insert id="addDept">
        insert into dept(name) values(
            #{dept.name}
        )
    </insert>
    <select id="listDept" resultType="top.yueshushu.learn.pojo.two.Dept">
        select * from dept
    </select>
</mapper>

