<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yueshushu.learn.mp.mapper.YjlMapper">

    <select id="selectTableNames" resultType="java.lang.String">
          select table_name FROM information_schema.tables
                   WHERE table_schema = #{dbName}
                    <if test="excludeTables != null and excludeTables.size() != 0">
                        and table_name not in
                        <foreach collection="excludeTables" item="item" open="(" close=")" separator=",">
                            #{item}
                        </foreach>
                    </if>
    </select>
    <update id="deleteTables">
        <if test="tableNames != null and tableNames.size() != 0">
            <foreach collection="tableNames" item="tableName" open="" close="" separator=";">
                DROP TABLE IF EXISTS ${tableName}
            </foreach>
        </if>
    </update>
    <update id="createTables">
        ${ddlSql}
    </update>
</mapper>
